<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Boost.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>155FFC051FE4110800910DFA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1574F46F20BB390200203B05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1574F48220BB390500203B05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1574F48D20BB390500203B05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15CA94301FD0267C001AA1FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15CA94471FD0267C001AA1FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15CA94521FD0267C001AA1FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
